#main {
    text-align: center;
}

#image {
    width: 80%;
    max-width: 1024px;
    display: block;
    margin: auto;
}

ul {
    position: relative;
    text-align: left;
    width: 50%;
    left: 250px;
}

li {
    margin-top: 20px;
}

